@font-face {
	font-family: pangeavar2\.000;
	src: url(./fonts/PangeaVAR_2.000.0dc8b384c6449e93cbc0dc01440f5303.woff2);
	font-weight: 300 700;
}
.pangeavar2000 {
	--wght: 300;
	--ital: 0;
	--XTDR: 0;
	--APRT: 0;
	--SPAC: 0;
	--INKT: 0;
	--SS01: 0;
	--SS02: 0;
	--SS03: 0;
}
.pangeavar2000,
.pangeavar2000 *,
.pangeavar2000 :after,
.pangeavar2000 :before {
	font-family: pangeavar2\.000, var(--specimen-fallback-font, monospace),
		monospace;
	font-variation-settings: "wght" var(--wght), "ital" var(--ital),
		"XTDR" var(--XTDR), "APRT" var(--APRT), "SPAC" var(--SPAC),
		"INKT" var(--INKT), "SS01" var(--SS01), "SS02" var(--SS02),
		"SS03" var(--SS03);
}
:root {
	--page-bg: #fff;
	--page-text: #000;
	--specimen-fallback-font: "";
}
*,
:after,
:before {
	box-sizing: border-box;
}
body,
html {
	padding: 0;
	margin: 0;
	background: var(--page-bg);
	color: var(--page-text);
}
ol,
ul {
	list-style-type: none;
	padding: 0;
}
.interactive-controls {
	--label-width: 8em;
}
.interactive-controls-text {
	font-size: calc(var(--font-size) * 1px);
}
.interactive-controls-instances,
.interactive-controls-sliders li {
	display: flex;
}
.interactive-controls label {
	flex: none;
	min-width: var(--label-width);
}
.interactive-controls-instances select,
.interactive-controls-slider {
	width: 100%;
}
